
<div class="container-fluid">
  <div class="col-md-12">
    <button class="form-contol btn btn-primary">Cadastrar nova marca</button>
    <a href="/cadastrarmarca" class="btn btn-primary">Cadastrar nova marca</a>
  </div>
  <div class="row">
    <div class="col-md-4">
      <app-novo-caminhao></app-novo-caminhao>
    </div>
    <div class="col-md-8" style="margin-top: 20px">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Modelo</th>
            <th>Chassi</th>
            <th>Marca</th>
            <th>Ano de Fabricação</th>
            <th>Placa</th>
            <th>Renavam</th>
            <th class="text-center"> </th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let caminhao of listaCaminhao">
              <td>
                {{caminhao.modelo}}
              </td>
              <td>
                {{caminhao.chassi}}
              </td>
              <td>
                {{caminhao.marca.marca}}
              </td>
              <td>
                {{caminhao.anoFabricacao}}
              </td>
              <td>
                {{caminhao.placa}}
              </td>
              <td>
                {{caminhao.renavam}}
              </td>
              <td>
                <div class="row">
                  <div class="col-md-4">
                    <button class="btn btn-sm btn-success">Alterar</button>
                  </div>
                  <div class="col-md-4" style="margin-left: 15px;">
                    <button class="btn btn-sm btn-danger">Remover</button>
                  </div>
                </div>
              </td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

