<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <button class="btn btn-sm btn-success">Novo</button>
    </div>
    <div class="col-md-12" style="margin-top: 20px">
      <table class="table table-striped">
        <tr>
          <th>Modelo</th>
          <th>Chassi</th>
          <th>Marca</th>
          <th>Ano de Fabricação</th>
          <th>Placa</th>
          <th>Renavam</th>
          <th class="text-center"> </th>
        </tr>

        <tr *ngFor="let caminhao of listaCaminhao">
          <td>
            {{caminhao.modelo}}
          </td>
          <td>
            {{caminhao.chassi}}
          </td>
          <td>
            {{caminhao.marca.marca}}
          </td>
          <td>
            {{caminhao.anoFabricacao}}
          </td>
          <td>
            {{caminhao.placa}}
          </td>
          <td>
            {{caminhao.renavam}}
          </td>
          <td>
            <button class="botaoestilizado">Alterar</button>
            <button class="btn btn-sm btn-danger">Remover</button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
