<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <button class="btn btn-sm btn-success">Novo</button>
    </div>
    <div class="col-md-12" style="margin-top: 20px">
      <table class="table table-striped table-bordered table-hover">
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Email</th>
          <th>Senha</th>
          <th class="text-center"> </th>
        </tr>

        <tr *ngFor="let caminhao of listaFabricante">
          <td>
            {{caminhao.descricao}}
          </td>
          <td>
            {{caminhao.id}}
          </td>
          <td>
            {{caminhao.status}}
          </td>
          <td>
            <button class="botaoestilizado">Alterar</button>
            <button class="btn btn-sm btn-danger">Remover</button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
