@charset "UTF-8";
* {
  box-sizing: border-box;
}


form,
fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

.container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 50px auto;
  max-width: 1200px;
  width: 100%;
}
@media (max-width: 768px) {
  .container {
    flex-wrap: wrap;
  }
}

.btn {
  align-items: center;
  background: #4d61fc;
  border-radius: 3px;
  border: 0;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  padding: 15px 45px;
  transition: 0.2s;
}
.btn:hover {
  background: #2036de;
  transform: translateY(-2px);
}


.register {
  border-radius: 20px;
  box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);
  height: auto;
  max-width: 400px;
  padding: 40px 15px;
  text-align: center;
  width: 100%;
}

.register strong {
  color: #2f2f2f;
  display: block;
  font-size: 40px;
}
.register .form {
  margin-top: 30px;
  padding: 0 20px;
}
.register .form .form-row {
  position: relative;
  text-align: left;
}
.register .form .form-row .fas {
  font-size: 15px;
  position: absolute;
  right: 10px;
  top: 30px;
}
.register .form .form-row.bottom {
  display: flex;
  justify-content: space-between;
}
.register .form .form-row.bottom .forgot {
  color: #4d61fc;
}
.register .form .form-row.button-login {
  margin-top: 50px;
}
.register .form .form-row.button-login .fas {
  position: static;
}
.register .form .form-row .form-check input[type=checkbox] + label {
  color: #555;
  cursor: pointer;
  display: block;
}
.register .form .form-row .form-check input[type=checkbox] {
  display: none;
}
.register .form .form-row .form-check input[type=checkbox] + label:before {
  border-radius: 3px;
  border: 1px solid #e2e2e2;
  color: transparent;
  content: "✔";
  display: inline-block;
  height: 15px;
  margin-right: 5px;
  transition: 0.2s;
  vertical-align: bottom;
  width: 15px;
  line-height: 16px;
  font-size: 12px;
  text-align: center;
}
.register .form .form-row .form-check input[type=checkbox] + label:active:before {
  transform: scale(1.1);
}

.register .form .form-label {
  color: rgb(0, 0, 0);
  font-size: 16px;
}

.register {
  transform: scale(1.01);
  background-image: linear-gradient(109.6deg, #7412cb 11.2%, #e62e83 91.2%);
}
.register .fas,
.register strong {
  color: #fff;
}
.register .form .form-label {
  color: rgb(255, 255, 255);
  font-size: 18px;
}
.register .form .form-row .fas {
  color: #4d61fc;
}
