<br>
  <h2>Cadastrar</h2>
  <form #cadastro="ngForm" (submit)="incluirTarefa()">
      <div>
          <label for="modelo">Modelo do Caminhão:</label><br>
          <input type="text" id="modelo" name="modelo" [(ngModel)]="caminhao.modelo" required class="form-control">  <br>
          <label for="anoFabricacao">Ano de fabricação:</label><br>
          <input type="text" id="anoFabricacao" name="anoFabricacao" [(ngModel)]="caminhao.anoFabricacao" required class="form-control"> <br>
          <label for="placa">Placa:</label><br>
          <input type="text" id="placa" name="placa" [(ngModel)]="caminhao.placa" required class="form-control"> <br>
          <label for="chassi">Chassi:</label><br>
          <input type="text" id="chassi" name="chassi" [(ngModel)]="caminhao.chassi" required class="form-control"> <br>
          <label for="renavam">Renavam:</label><br>
          <input type="text" id="renavam" name="renavam" [(ngModel)]="caminhao.renavam" required class="form-control"> <br>
          <label for="marca">Marca:</label><br>
          <input type="text" id="marca" name="marca" [(ngModel)]="caminhao.marca.marca"  class="form-control"> <br>
      </div>
      <button type="submit" class="btn btn-primary form-control" >Incluir</button>
  </form>
<br>

